# Pandas

In [23]:
import numpy as np
import pandas as pd
import math

In [16]:
# Create random data
var1 = np.random.randn(500) * 5 + 20
var2 = np.random.randn(500) > 0
var3 = np.random.randn(500)*20 + 40

labels = ['Individual Age', 'Temp (C)', 'Ice cream']

In [17]:
D = {labels[0]: var3, labels[1]: var1, labels[2]: var1}
df = pd.DataFrame(data=D)
print(df)

     Individual Age   Temp (C)  Ice cream
0         78.199900  13.936766  13.936766
1         38.203440  23.545804  23.545804
2         63.750305  24.823250  24.823250
3         20.235485  23.350141  23.350141
4         47.282597  12.351400  12.351400
..              ...        ...        ...
495       69.031169  14.968360  14.968360
496       62.783922  32.313506  32.313506
497       39.793966  13.040256  13.040256
498       60.938503  21.274057  21.274057
499       50.925105  14.621340  14.621340

[500 rows x 3 columns]

In [18]:
df.mean()

Individual Age    40.170615
Temp (C)          20.176902
Ice cream         20.176902
dtype: float64

In [28]:
nums = np.linspace(0, 10, 11)
squares = nums ** 2
logs = np.log(nums)

df = pd.DataFrame({'nums': nums, 'square': squares, 'logs': logs})
print(df)

    nums  square      logs
0    0.0     0.0      -inf
1    1.0     1.0  0.000000
2    2.0     4.0  0.693147
3    3.0     9.0  1.098612
4    4.0    16.0  1.386294
5    5.0    25.0  1.609438
6    6.0    36.0  1.791759
7    7.0    49.0  1.945910
8    8.0    64.0  2.079442
9    9.0    81.0  2.197225
10  10.0   100.0  2.302585

/tmp/ipykernel_16166/1222611612.py:3: RuntimeWarning: divide by zero encountered in log
  logs = np.log(nums)