## Variables

In [1]:
a = 4
print(a)

4

In [3]:
a = 4.4
print(a)

4.4

In [4]:
a = 'kumar'
print(a)

kumar

In [5]:
b, c, d, e = 'king', '55.50505', 10101, False

In [6]:
print(b, c, d, e)

king 55.50505 10101 False

In [7]:
%whos

Variable   Type    Data/Info
----------------------------
a          str     kumar
b          str     king
c          str     55.50505
d          int     10101
e          bool    False

In [2]:
arr = [1, 2, 3, 4]
arr_copy = arr # This is refrance copy 
print(id(arr))
print(id(arr_copy))
arr_copy[1] = 100 # This changes the original array too
print(arr)
print(arr_copy)

140513480386560
140513480386560
[1, 100, 3, 4]
[1, 100, 3, 4]

In [4]:
arr_copy = arr[:] # Deep copy with different referance
print(id(arr))
print(id(arr_copy))
arr_copy[1] = 2000 # This does not changes the original array
print(arr)
print(arr_copy)

140513480386560
140513480398464
[1, 100, 3, 4]
[1, 2000, 3, 4]

In [6]:
from copy import deepcopy
arr = [100, 200, 300, 400] # Re assigning the array
arr_copy = deepcopy(arr) # Deep copy using deepcopy method from copy
print(id(arr))
print(id(arr_copy))
arr_copy[1] = 2000 # This does not changes the original array
print(arr)
print(arr_copy)

140513480400128
140513480397888
[100, 200, 300, 400]
[100, 2000, 300, 400]

In [ ]:
# Copy in objects